  /** cor background **/

.bs-body-color{
    background-color: rgb(238, 238, 238) !important;
}   

.bg-primary{
    background-color: rgb(1, 45, 120) !important;
}

.bg-primary-subtle{
    background-color: rgb(0, 30, 82) !important;
}

.bg-secondary{
    background-color: rgb(30, 79, 163) !important;
}

.bg-tertiary{
    background-color: rgb(249, 96, 7) !important;
}

/** cor border **/

.border-primary{
    border-color: rgb(249, 96, 7) !important;
}

.border-secondary{
    border-color: rgb(30, 79, 163) !important;
}

/** cor text **/

.text-primary{
    color: rgb(249, 96, 7) !important;
}

.text-secondary{
    color: rgb(31, 31, 31) !important;
}

.text-tertiary{
    color: rgb(255, 255, 255) !important;
}

.text-tertiary-subtle{
    color: rgba(255, 255, 255, 0.5) !important;
}

/** header **/
nav{
    height: 70px;
}

/** cards **/

.card{
    width: 25rem;
}

/** form **/

button{
    width: 100px;
    height: 50px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.5) !important;
}

textarea{
    height: 10rem;
}